html {
  height: 100%;
  width: 100%;
  font-family: 'Trebuchet MS', sans-serif;
}

body { 
  margin: 0;
  padding: 0;
  /* Gradient background. Played around with VSCode's colour picker to end up with the current colour scheme */
  /* Wanted to give off a casual, lighthearted but sporty vibe with the aesthetics */
  background-image: linear-gradient(#f1b635, #45e4a2); 
  background-attachment: fixed;
}

header > h1 {
  font-size: 50px;
  text-align: center;
}

header > h2 {
  font-size: 20px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  /* responsive design. When webpage dimension drops below certain width, items in container (submission forms and past submissions) 
  wrap below each other vertically. On mobile this means that users only have to scroll down to view past submissions */
  flex-wrap: wrap;
}

/* style for star rating. Created with assistance from ChatGPT */
.star {
  font-size: 2em;
  cursor: pointer;
}
/* Colour change upon clicking */
.star.checked {
  color: gold;
}

/* Styles for the submission forms. Made all boxes round in accordance with the softer and calmer aesthetic */
#session-form {
  max-width: 500px; 
  margin: 20px;
  border-radius: 30px;
  border: 1px solid rgb(11, 69, 122);
  /* gradient backgrounds from session form and workout form form a continuous colour gradient */
  background-image: linear-gradient(#ffecc3, #ffa7ba);
  padding: 20px 50px;
}

#workout-form {
  max-width: 500px;
  margin: 20px;
  border-radius: 30px;
  border: 1px solid rgb(11, 69, 122);
  background-image: linear-gradient(#ffa7ba, #93fff6);
  padding: 20px 50px;
}

form > h2 {
  text-align: center;
}

form > h3 {
  text-align: center;
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.form-row > input, .form-row > select {
  border-radius: 25px;
  padding: 8px;
  flex: 1;
}

.form-row > label {
  flex: 0 0 auto;
  margin-right: 10px;
  /* two-word labels would keep wrapping to the next line so a no-wrap property was used */
  white-space: nowrap;
}

.form-submit {
  display: flex;
  justify-content: center;
  align-content: space-around;
  padding: 8px;
}

/* Making the submit buttons visually different from the above form rows */
.form-submit > input {
  border-radius: 25px;
  font-size: 18px;
  color: #ffffff;
  background-color: #c22e4e;
  padding: 8px;
  flex-grow: 1;
}

.task-section {
  max-width: 800px;
  border-radius: 30px;
  border: 1px solid rgb(11, 69, 122);
  background-image: linear-gradient(#ffecc3, #ffa7ba);
  flex-wrap: wrap ;
  padding: 20px 50px;
} 

#forms-section {
  display: flex;
  flex-direction: column;
}

#lists-section {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  flex-wrap: wrap;
}

#sessionList {
  display: flex;
  /* Making sessions wrap to the next line for better space distribution and visual clarity. 
  Especially useful for mobile layout */
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
}

#sessionList li {
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

#sessionList li ul {
  list-style-type: none;
  padding: 15px;
  margin-top: 10px;
}

#sessionList li ul li {
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

/* Styling for the delete button. Red was used for higher contrast */
button {
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #c22e4e;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #a0203c;
}
